
.App-container {
  width: 100%;
  /* Workaround because 100% height doesn't work. */
  height: 100vh;
}
.App-column {
  float: left;
  min-width: 600px;
  width: 50%;
  height: 100%;
}
.App-stats {
  margin: 10px;
  /*
  Override the horizontal margin because only vertical margins collapse.
  This makes the space between the left and right halves 10px instead of 20px.
  */
  margin-right: 5px;
  height: 225px;
}
.App-menu {
  margin: 10px;
  margin-right: 5px;
  height: calc(100% - 255px);
  min-height: 450px;
}
.App-skills {
  margin: 10px;
  margin-left: 5px;
  /*
  Because vertical margins are collapsed, add half the space back to each
  component.
  */
  height: calc(50% - 15px);
  min-height: 300px;
}
.App-map {
  margin: 10px;
  margin-left: 5px;
  height: calc(50% - 15px);
  min-height: 300px;

  box-sizing: border-box;
  border-style: solid;
  border-color: #cccccc;
}
.App-bars {
  width: 80%;
  height:100%;
  float:left;
}
.App-timer {
  width:20%;
  height:100%;
  float: right;
}
.fade:not(.in){
  height:0%;
}
