button {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
div.event-top {
  text-align: center;
  border-bottom: solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
div.event-panel {
  height: 100%;
  width: 100%;
}
div.btn-toolbar.event-buttonbar {
  text-align: center !important;
  white-space:nowrap;
  overflow-x: auto;
}
.btn.toolbar-button {
  float: none !important;
}

div.event-usable-skills{
  width: 30%;
  float:left;
}

div.event-progress-display{
  padding: 20px;
  width: 70%;
  float:left;
  text-align: center;
}
