
h2{ margin: 12px !important;}
h3 {
  margin: 12px !important;
}
.bars-component {
  text-align: center;
}
.bars-container {
  border: solid;
  border-color: #cccccc;
  margin: 5px;
  padding: 5px;
}
.bars-container.small {
  width: calc(33% - 9px);
  float:left;
}
.progress {
  margin-bottom:0px !important;
  height:34px !important;
  position: relative;
}
/* Literally copied from swarmsim */
.progress-bar {
  overflow-x: visible;

}
.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
  font-size: 16px;
  margin-top: 8px;
}
.progress span.nomargin {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
  font-size: 16px;
  margin-top: 0px;
}
