.skill-tab-container{
  /* Still have to do this height workaround */
  height: calc(50vh - 55px) !important;
  border-style: solid;
  border-color: #cccccc;
}
.skill-listing {
  float: left;
  padding: 3px;
  width: 60%;
}
.skill-selection {
  float: left;
  padding: 3px;
  width: 40%;
  height:100%;
}
img.skill-icon {
  margin: 5px;
  width: 32px;
  height: 32px;
}
img.empty-slot {
  margin: 5px;
  width: 32px;
  height: 32px;
  display: inline-block;
  box-sizing: border-box;
  border: solid #cccccc;
}
.progress.smallProgress {
  height: 5px !important;
}
